<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
         <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/style.css') }}" />
    </head>
    <body>
		<header><div>
		   <img id="header-logo" src="/images/FIFA_World_Cup_2018_Logo.png" />
		   <div id="header-menu">
		     <a href="/">Home</a>
		     <a href="/transports">Transports</a>
		     <a href="/accommodation">Accommodation</a>
		     <a href="/come-to-russia">Come to Russia</a>
		     <a href="/fan-zone">Fan zone</a>
		     <a href="/competition">Competition</a>
		   </div>
		   <div id="header-connection">
			   {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	   {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
	   <a href="{{ path('fos_user_security_logout') }}">
		   {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
	   </a>
   {% else %}
	   <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
	   	   <a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
   {% endif %}
</div>

		   </div>
		 </div>
	 </header>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
