{% extends 'base.html.twig' %}

{% block body %}


<div class="form-user">
	<h1 class="form-title">Creation of an article</h1>
	<div class="form-text">


    {{ form_start(form) }}
        {{ form_widget(form) }}
		{{ froala_display( article.content ) }}
         {{ form_row(form.image) }}
        <input class="login" type="submit" value="Create" />



</div></div>

<a class="buttn_new" href="{{ path('article_index') }}" class="btn btn-primary">Back to the list</a>



{% endblock %}
