{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création de l'article</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
         {{ form_row(form.image) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul class="list-inline">
        <li>
            <a href="{{ path('article_index') }}" class="btn btn-primary">Back to the list</a>
        </li>
    </ul>
{% endblock %}
