{% extends 'base.html.twig' %}

{% block body %}
    <h1>Le blog</h1>

	<div class="container">
		<div class="row">
			<div class="col-sm-">
				{% for article in articles %}
		            <a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}
		                {{ article.title }}
		                {{ article.content }}
					</a>
					<ul class="list-inline">
		                <li>
							{% if is_granted('ROLE_ADMIN')%}
		                        <a href="{{ path('article_edit', { 'id': article.id }) }}" class="btn btn-info btn-xs">Editer</a>
							{% endif %}
		                </li>
		            </ul>
		        {% endfor %}

			</div>
		</div>
	</div>

    <ul class="list-unstyled">
        <li>
			{% if is_granted('ROLE_ADMIN')%}
            <a href="{{ path('article_add') }}" class="btn btn-primary">Create a new article</a>
			{% endif %}
        </li>
    </ul>
{% endblock %}
