{% extends 'base.html.twig' %}

{% block body %}
<a class="bttn_return" href="{{ path('article_index') }}" class="btn btn-primary">Back to the list</a>
<article id="container-blog-show">
	<hr class="separate">
	<img class="img-blog-show"src="{{asset('public/pic/' ~ article.image)}}">
	{% if is_granted('ROLE_USER')%}
	<a class="buttn_edit-show" href="{{ path('article_edit', { 'id': article.id }) }}" class="btn btn-info">Edit</a>
	{% endif %}
    <h1 class="blog-title">{{article.title}}</h1>
    {% if article.author == null %}
		Created by Anonymous
	{% else %}
		Created by {{ article.author.username }}
    {% endif %}

<p class="post_article-show">{{article.content|raw}}</p>


<main id="comment">

	<h2 class="blog-title">Commentaires</h2>
	{% for commentaire in article.commentaires %}
	<p class="post_article-comment">{{commentaire.content}}</p>
	<p class="post_article-comment">By <span class="post_article-comment-by">{{commentaire.username}} </span> on <time class="post_article-comment-by" datetime="{{ commentaire.publishedAt|date('c') }}">{{commentaire.publishedAt|date('l, F j, Y') }}</time></p>
	{% endfor %}
</main>
</article>


<div class="form-user">
	<h2 class="form-title">	Poster un commentaire 	</h2>
	<div class="form-text">
	 {{ form_start(form) }}
		{{ form_row(form.username) }}
        {{ form_row(form.content) }}
        <input class="login" type="submit" value="Create" />

    {{ form_end(form) }}
</div>
</div>
{% endblock %}
