{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{article.title}}</h1>
<h3>{{article.content}}</h3>


	<h2>Commentaires</h2>
	{% for commentaire in article.commentaires %}

	<p>{{commentaire.content}}</p>
	<p>By {{commentaire.username}} on <time datetime="{{ commentaire.publishedAt|date('c') }}">{{commentaire.publishedAt|date('l, F j, Y') }}</time></p>
	{% endfor %}

	<h3>	Poster un commentaire 	</h3>

	 {{ form_start(form) }}
        {{ form_row(form.content) }}
		{{ form_row(form.username) }}



        <input type="submit" value="Create" />

    {{ form_end(form) }}


    <ul class="list-inline">
        <li>
            <a href="{{ path('article_index') }}" class="btn btn-primary">Back to the list</a>
        </li>
        <li>
			{% if is_granted('ROLE_USER')%}
            <a href="{{ path('article_edit', { 'id': article.id }) }}" class="btn btn-info">Edit</a>
			{% endif %}
        </li>
        </ul>
{% endblock %}
