{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}


<div class="form-user">
	<h1 class="form-title">Log in !</h1>
    	<form class="form-text" action="{{ path("fos_user_security_check") }}" method="post">
      		{% if csrf_token %}
          		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
      		{% endif %}
			<p class="form-label">
      			<label for="username">{{ 'security.login.username'|trans }}</label>
			</p>
	  		<p>
      			<input class="input-style" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
	  		</p>
			<p class="form-label">
      			<label for="password">{{ 'security.login.password'|trans }}</label></p>
	  		<p>
      			<input class="input-style" type="password" id="password" name="_password" required="required" />
	  		</p>
				<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
      			<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
      			<input class="login" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    	</form>

  </div>
